# Verification



<table><thead><tr><th width="381">Requirements</th><th width="114" data-type="checkbox">Checked</th><th width="88">By who</th><th>When</th></tr></thead><tbody><tr><td><ol><li>Generic Requirements</li></ol></td><td>true</td><td>Roman</td><td>08/11/2024</td></tr><tr><td><ol start="2"><li>Json-limits file requirements(input)</li></ol></td><td>true</td><td>Roman</td><td>08/11/2024</td></tr><tr><td><ol start="3"><li>CSV-output file</li></ol></td><td>false</td><td></td><td></td></tr><tr><td><ol start="4"><li>Negative/positive direction</li></ol></td><td>true</td><td>Roman</td><td>08/11/2024</td></tr><tr><td><ol start="5"><li>Same limits value = Axis blocked</li></ol></td><td>true</td><td>Roman</td><td>08/11/2024</td></tr></tbody></table>
